@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html, body {
    font-family: "Montserrat", Helvetica, sans-serif !important; 
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

#section2,#section4 {
    padding: 50px 15px;
    border-color: rgb(1, 49, 97);
    background-color: rgb(1, 49, 97);
    color: rgb(255, 255, 255);
    background-image: url(https://images.clickfunnels.com/cb/2153129…/John-Crestani-BG2.png);
}

.headertext1 {
    font-size: 32px;
    color: white;
    font-weight: bold;
}

.headertext2 {
    font-size: 65px;
    font-weight: bold;
    color: rgb(178, 157, 96);
}

.headertext22 {
    font-size: 53px;
    font-weight: bold;
    color: #b19d60;

}
.headertext3 {
    font-family: Sriracha;
    color: white;
    font-style: oblique;
    font-size: 41px;
    font-weight: 800;
}

.headertext4 {
    font-weight: 500;
    font-style: oblique;
    font-size: 20px;
}

#section3 {
    background: #DF7A1E;
}

.sectext1 {
    line-height: normal;
    font-size: 65px;
    font-weight: bold;
    font-style: oblique;
    color: white;
}
.sectext2 {
    font-size: 35px;
    color: white;
    word-spacing: -1.5px;
    font-weight: 700;
    font-style: italic;
}

.videocloum {
    padding: 20px;
}

.offtext2 {
    color: white;
    font-size: 30px;
    font-weight: 700;
    font-style: oblique;
}
.offtext1 {
    padding: 10px;
    font-size: 20px;
    color: white;
    font-style: italic;
    font-weight: 600;
}

.secondpart {
    padding: 20px 0px;
    background: #DF7A1E;
}

.sendbook {
    background: #df7a1e;
    border: 1px solid #ffffff;
    font-weight: bold;
    color: white;
    font-style: italic;
}

.prooftext {
    font-size: 49px;
    padding: 0px 0px;
    text-decoration: underline;
    font-weight: 700;
    color: #df7a1e;
    font-style: italic;
    text-decoration-color: #013161;
}

.footerpart {
    background: black;
    color: #ff5400;
    font-size: 23px;
}

.textderation {
    text-decoration: underline;
}

/*Responsive */
@media only screen and (max-width: 990px) {


}


